In [4]:
import numpy as np
import pandas as pd

In [19]:
   dtypes = {
        'Mission ID': 'Int64',
        'Mission Date': str,  # Will convert to datetime later
        'Theater': str,
        'Country': str,
        'Air Force': str,
        'Unit ID': str,
        'Aircraft Series': str,
        'Callsign': str,
        'Mission Type': str,
        'Takeoff Base': str,
        'Incendiary Devices Weight (Tons)': 'float64',
        'Fragmentation Devices': str,
        'Fragmentation Devices Type': str,
        'Fragmentation Devices Weight (Pounds)': 'float64',
        'Fragmentation Devices Weight (Tons)': 'float64',
        'Total Weight (Pounds)': 'float64',
        'Total Weight (Tons)': 'float64',
        'Time Over Target': str,
        'Bomb Damage Assessment': str,
        'Source ID': 'Int64'
    }

In [24]:
data = pd.read_csv('./operations.csv', dtype=dtypes, na_values=['nan', 'NaN', '', ' '], low_memory=False)
data.head(5)

,Mission ID,Mission Date,Theater of Operations,Country,Air Force,Unit ID,Aircraft Series,Callsign,Mission Type,Takeoff Base,...,Incendiary Devices Weight (Tons),Fragmentation Devices,Fragmentation Devices Type,Fragmentation Devices Weight (Pounds),Fragmentation Devices Weight (Tons),Total Weight (Pounds),Total Weight (Tons),Time Over Target,Bomb Damage Assessment,Source ID
0,1,1943-08-15,MTO,USA,12 AF,27 FBG/86 FBG,A36,NaN,NaN,PONTE OLIVO AIRFIELD,...,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,<NA>
1,2,1943-08-15,PTO,USA,5 AF,400 BS,B24,NaN,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,NaN,9366
2,3,1943-08-15,MTO,USA,12 AF,27 FBG/86 FBG,A36,NaN,NaN,PONTE OLIVO AIRFIELD,...,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,<NA>
3,4,1943-08-15,MTO,USA,12 AF,27 FBG/86 FBG,A36,NaN,NaN,PONTE OLIVO AIRFIELD,...,NaN,NaN,NaN,NaN,NaN,NaN,7.5,NaN,NaN,<NA>
4,5,1943-08-15,PTO,USA,5 AF,321 BS,B24,NaN,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,22585

In [21]:
data['Mission Date'] = pd.to_datetime(data['Mission Date'])
data['Mission Date']

0        1943-08-15
1        1943-08-15
2        1943-08-15
3        1943-08-15
4        1943-08-15
            ...
178276   1945-02-16
178277   1945-02-16
178278   1945-02-16
178279   1945-02-16
178280   1945-02-16
Name: Mission Date, Length: 178281, dtype: datetime64[ns]

In [28]:
data.head(2)

,Mission ID,Mission Date,Theater of Operations,Country,Air Force,Unit ID,Aircraft Series,Callsign,Mission Type,Takeoff Base,...,Incendiary Devices Weight (Tons),Fragmentation Devices,Fragmentation Devices Type,Fragmentation Devices Weight (Pounds),Fragmentation Devices Weight (Tons),Total Weight (Pounds),Total Weight (Tons),Time Over Target,Bomb Damage Assessment,Source ID
0,1,1943-08-15,MTO,USA,12 AF,27 FBG/86 FBG,A36,NaN,NaN,PONTE OLIVO AIRFIELD,...,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,<NA>
1,2,1943-08-15,PTO,USA,5 AF,400 BS,B24,NaN,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,NaN,9366

In [31]:
# Exercise 1: Basic DataFrame Creation
"""
Create a DataFrame from the missions data where 'Aircraft Series' is in 'B17' or 'B24'.
Expected columns: 'Mission ID', 'Aircraft Series', 'Target Country'
Your code here:
"""
# USE isin

"\nCreate a DataFrame from the missions data where 'Aircraft Series' is in 'B17' or 'B24'.\nExpected columns: 'Mission ID', 'Aircraft Series', 'Target Country'\nYour code here:\n"

In [32]:
# Exercise 2: String Filtering
"""
Find all unique Target Cities where the Target Type contains the word 'AIRDROM
E'.
Your code here:
"""
# use str.contains, unique

"\nFind all unique Target Cities where the Target Type contains the word 'AIRDROME'.\nYour code here:\n"

In [41]:

# Exercise 3: Multiple Conditions
"""
Count the number of missions that were:
- In the ETO (European Theater of Operations)
- Used B17 aircraft
- Had an altitude greater than 200 (hundreds of feet)
Your code here:
"""
# Filter according to the conditions and use shape[0] in order to count rows

'\nCount the number of missions that were:\n- In the ETO (European Theater of Operations)\n- Used B17 aircraft\n- Had an altitude greater than 200 (hundreds of feet)\nYour code here:\n'

In [54]:
# Exercise 4: Grouping and Aggregation
"""
Calculate the average Total Weight (Tons) grouped by Theater of Operations and Aircraft Series.
"""
# use groupby with array of keys, then speciy a column name, use mean and sort values and choose asceding

'\nCalculate the average Total Weight (Tons) grouped by Theater of Operations and Aircraft Series.\n'

In [56]:
# Exercise 5: Missing Value Analysis
"""
1. Count total missions by grouping by Aircraft Series and size for counting the results

2. Count missions with missing Bomb Damage Assessment by filtering where Bomb Damage Assesssment
isna() and group by Aircraft Series and size for counting the results

3. Create a new data frame with pd.DataFrame containing 'Total Missions' with the results of the
total missions, and the same for missing missions

4. Calculate percentage of total missions with missing assessments in a new column ['Missing Precentage'] 
df['Mission Assessments'] / df['Total Missions'] * 100

5. sort_value (df.sort_values) according to 'Missing Precentage', ascending=False
Your code here:
"""

"\n1. Count total missions by grouping by Aircraft Series and size for counting the results\n\n2. Count missions with missing Bomb Damage Assessment by filtering where Bomb Damage Assesssment\nisna() and group by Aircraft Series and size for counting the results\n\n3. Create a new data frame with pd.DataFrame containing 'Total Missions' with the results of the\ntotal missions, and the same for missing missions\n\n4. Calculate percentage of total missions with missing assessments in a new column ['Missing Precentage'] \ndf['Mission Assessments'] / df['Total Missions'] * 100\n\n5. sort_value (df.sort_values) according to 'Missing Precentage', ascending=False\nYour code here:\n"

In [59]:
# Exercise 6: Time Series Operation
"""
Create a summary DataFrame showing for each Mission Date:
1. create a new variable named summery which is assign to grouping by 'Mission Date'
and preform an aggregate with agg:
{
    'Mission ID': 'count',
    'Altitude (Hundreds of Feet)': 'mean',
    'Total Weight (Tons)': 'sum'
}
2. rename column 'Mission ID' to 'Mission Count' using rename(columns={'Mission ID': 'Mission Count'})
keep in mind - rename is immutable operation, it mean that you have to reassign.

3. Filter summery only include dates with more than 5 missions.
Your code here:
"""

"\nCreate a summary DataFrame showing for each Mission Date:\n1. create a new variable named summery which is assign to grouping by 'Mission Date'\nand preform an aggregate with agg:\n{\n    'Mission ID': 'count',\n    'Altitude (Hundreds of Feet)': 'mean',\n    'Total Weight (Tons)': 'sum'\n}\n2. rename column 'Mission ID' to 'Mission Count' using rename(columns={'Mission ID': 'Mission Count'})\nkeep in mind - rename is immutable operation, it mean that you have to reassign.\n\n3. Filter summery only include dates with more than 5 missions.\nYour code here:\n"

In [67]:
# Exercise 7: Vectorized Calculations
"""
Create a new column 'Mission Efficiency' calculated as:
(Total Weight (Tons) * Aircraft Returned) / (Airborne Aircraft + 1)
Handle missing values by filling with 0.
Your code here:
"""

"\nCreate a new column 'Mission Efficiency' calculated as:\n(Total Weight (Tons) * Aircraft Returned) / (Airborne Aircraft + 1)\nHandle missing values by filling with 0.\nYour code here:\n"

In [71]:
# Exercise 8: Geographic Analysis
"""
For each country that was targeted:
1. create a new variable named country_stats which is assign to grouping by 'Target Country'
and preform an aggregate with agg:
{
    'Target City': 'nunique',
    'Total Weight (Tons)': 'sum',
    'Altitude (Hundreds of Feet)': 'mean'
}
2. rename column 'Target City' to 'Cities Targeted' using rename(columns={'Target City': 'Cities Targeted'})
keep in mind - rename is immutable operation, it mean that you have to reassign.
3. filter country-stats including only Cities Targeted greater than 2
Your code here:
"""

"\nFor each country that was targeted:\n1. create a new variable named country_stats which is assign to grouping by 'Target Country'\nand preform an aggregate with agg:\n{\n    'Target City': 'nunique',\n    'Total Weight (Tons)': 'sum',\n    'Altitude (Hundreds of Feet)': 'mean'\n}\n2. rename column 'Target City' to 'Cities Targeted' using rename(columns={'Target City': 'Cities Targeted'})\nkeep in mind - rename is immutable operation, it mean that you have to reassign.\n3. filter country-stats including only Cities Targeted greater than 2\nYour code here:\n"

In [77]:
# Exercise 10: Time-based Target Distribution
"""
For each Mission Date:
1. create a new variable named daily_stats which is assign to grouping by 'Mission Date'
and preform an aggregate with agg:
{
    'Target Type': 'nunique',
    'Mission ID': 'count'
}
2. Create a new Column named 'Target Ratio' which is equal to daily_stats['Target Type'] / daily_stats['Mission ID']
3. Create a new variable named above_avg assign to filtering daily_stats where target ration column is greater than
the mean of the target ration column.
Your code here:
"""

"\nFor each Mission Date:\n1. create a new variable named daily_stats which is assign to grouping by 'Mission Date'\nand preform an aggregate with agg:\n{\n    'Target Type': 'nunique',\n    'Mission ID': 'count'\n}\n2. Create a new Column named 'Target Ratio' which is equal to daily_stats['Target Type'] / daily_stats['Mission ID']\n3. Create a new variable named above_avg assign to filtering daily_stats where target ration column is greater than\nthe mean of the target ration column.\nYour code here:\n"